@import url("https://use.typekit.net/dem4hyl.css");
@import "auth";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {

  height: 100%;
  background-image: linear-gradient(black, grey);
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  background:linear-gradient(grey, black);
  padding:5px 20px;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: #00FFFF;
}

.home a {
  font-size:20px;
}

.menu li {
  font-size:16px;
  padding: 15px 5px;
}
//this is so that you can click the link not just over the actual text
.menu li a {
  display: block;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

//Mobile Menu

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle{
  order: 1;
}

.item.toggle{
  order:2;
}

.item{
  width: 100%;
  text-align:center;
  order:3;
  // display:none;
}

.item.active {
  display:block;
}

.toggle {
  cursor: pointer;
}

.bars{
  background:#999;
  display: inline-block;
  height: 2px;
  position:relative;
  width:18px;

}

.bars::before, .bars::after{
  background:#999;
  content:"";
  display: inline-block;
  height: 2px;
  position:absolute;
  width:18px;

}

.bars::before{
  top:5px;
}

.bars::after{
  top:-5px;
}

//Tablet Menues
@media all and (min-width:468px) {
  .menu{
    justify-content:center;
  }
  .home {
    flex:1;
  }
  .item.button{
    width:auto;
    order:1;
    display:block;
  }
  .toggle{
    order:2;
  }
  .button.secondary{
    border:0;
  }

  .button a{
    padding: 7px 15px;
    background:#444;
    border:1px solid white;
    border-radius:50em;
  }

  .button.secondary{
    background:transparent;
  }

  .button a:hover{
    transition:all 0.25s;
    background-color:black;

  }

  .button:not(.secondary) a:hover{
    background-color:black;
    border-color: white;
  }

}

@media all and (min-width:768px) {
  .item{
    display:block;
    width:auto;
  }
  .toggle{
    display:none;
  }
  .home{
    order:0;
    font-size: 22px;
  }
  .item{
    order:1;
  }
  .button{
    order:2;
  }
  .menu li {
    padding:15px 10px;

  }
  .menu li.button{
    padding-right:0;
  }
}

.search-container {
  display:flex;
  justify-content:space-around;
  margin: 7px 15px;
  // background-color: #222;
  padding: 10px 0 10px 0;

}

.search-navbar {
  background:transparent;
}

.search-container input {
  width:70%;
  border-radius: 50rem;
  padding: 5px 15px;
  font-size: 16px;
}

input:focus {
  outline:none;
}

.search {
  border: 4px solid #444;
}

.search-navbar {
  display:flex;

}

.search-item-container {
  display: flex;
  background-color: none;
}


.search-item-container li {
  margin: 5px 10px;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 50em;
  background:#222;

}

.search-item-container li a {
  padding: 5px;
  margin: 5px;
}

.search-item-container li:hover{
  background-color:red;
  border-color: #222;
}

.search-item-container a:hover{
  color:black;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.search-icon:hover{
  font-size: 35px;
  transition: 0.2s;
}

h1 {
  color: white;
}

iframe {
  border:none;
  margin: 5px 15px;

}

.project-body {
  display: flex;
  flex-wrap: wrap;
  margin-top:50px;
}

.project-container{
  margin: 5px 15px;
  border:1px solid #999;
  width:min-content;
  height:fit-content;
}

.user-links{

  line-height: 3rem;

}

.project-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
  margin: 5px 15px;

}

.like {
  // text-align: right;
  color: white;
  list-style:none;
}

.project-info {

  line-height: 2rem;

}

.user-header {
height: 200px;
background-image: url('http://thevinylfactory.com/wp-content/uploads/2021/05/MF-DOOM.jpg');
}


.mainUser-card {

  margin-top:50px;

}

.user-card-container {
  // position:absolute;
  display:flex;
  flex-direction: column;
  justify-content:center;
  width: 400px;
  margin: 5px 10px 50px 30px;
  border: 1px solid white;
  padding: 5px

}

.user-profile-image img {
  margin: 40px;
  border: 1px solid white;
  width: 300px;
  height:300px;
  border-radius: 50em;
}


.user-title {
  font-size: 20px;
  color:white;
}

.user-title p {
  margin-top:5px;
  text-align: center;
}

.user-deets-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height:2rem;
}

.btn-container{
  display: flex;
  flex-direction: column;
}

.btn-container button {
  height:30px;
  margin: 5px 15px;
  background-color: #444;
  border-radius: 30em;
  border: 1px solid white;
  color: white;

}

.btn-container button:hover {
background-color:red;
color:black;

}

.addProject {
  width:360px;
  text-align: center;
}

.editProfile {
  width:360px;
  text-align: center;
}

.userpage-container {
  display : flex;
}

.userprofile {
  width: 500px;
}

// .userfeed {
//   flex:3;
//   display:flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

.ProjectIndex-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:linear-gradient(black, grey);
}

.user-site-link {
  line-height: 2rem;
  color:white;
  margin: 5px 15px;
}

.user-site-link span {
  color:black;
}


.edit-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height:100vh;
}

.edit-container h1 {

  color: white;
  font-size: 36px;
  margin-top: 50px;

}

.edit-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid white;
  height: 400px;
  width: 300px;
  color:white;
  margin: 20px;
}

.form-label-container {
  // padding: 10px;
}

.edit-form input {
  text-align: center;
  width:200px;
  height: 40px;
  padding: 10px;
  margin: 40px;
  border-radius: 50rem;
}

.edit-form label {
  font-size: 20px;
}

.edit-btn-container {
  margin: 50px;
}

.editbtn {
  width: 180px;
  border-radius:50rem;
  padding: 10px;
  border: 1px solid white;
  background-color: #444;
  color:white;
}

.editbtn:hover {
  background-color:red;
  color:black;
  border: 1px solid black;
}


.userfeed-projects {
  display:flex;
  justify-content:center;

}

.website-link:hover {
  color:black;
}

.loading {
  height: 100vh;
  color: white;
  font-size: 36px;
}